<div id="site_content">
  <div id="content">
  BAHARPOTA PREMTIRTHA RURAL DEVLOPMENT SOCIETY

(A people-based and people-oriented civic society engaged in sustainable development for the poor and marginalized groups)
Estd. – 1996  Regd. No. – S/93656 F. C. R. A. No. – 147040479
Registration under West Bengal State AIDS Prevention & Control Society
Registered under P.W.D Act, Govt. of India.
Tax exempted under 12A & 80 G of the I.T. Act, of 1961.
  </div>
  <div id="site_content_bottom"></div>
</div>

