<div id="site_content">
  <div id="content">
    <ul>
      <li>Name of the organization	:  BAHARPOTA  PREMTIRTHA  RURAL  DEVELOPMENT  SOCIETY</li>
      <li>Postal  Address		: Vill &Po – Baharpota, Block-Panskura-1, P.S,-Panskura,Dist-Purba Medinipur
					   Pin-721151, West Bengal, India.</li>
      <li>E-MAIL			:  bprds96@rediffmail.com, bprds@rediffmail.com</li>
      <li>Phone Number		:  91-03228251955-91-03228251026. M(9733547451)</li>
      <li>Name & Designation of Chief:  Krishnendu  Chakrabarty(Secretary).</li>
     </ul>
  </div>
  <div id="site_content_bottom"></div>
</div>

