<div id="site_content">
  <div id="panel_health"><img src="images/education_1.jpg" alt="bprds" />
    <!--<ul>
      <li></li>
      <li><img src="images/education_1.jpg" alt="bprds" /></li>
      <li><img src="images/education_1.jpg" alt="bprds" /></li>
     </ul>-->
    </div>
  <div id="content">
    <p>Education which is a crying need of our society has not been spread among all. The over all literacy is only 43% and the female literacy is just 22%. Not even 50% of the children are enrolled in formal school. All around 50% of those who has completed standard four enroll for upper primary education but there are only few who go for higher secondary education.</p>
  <p>We are social animal and we have some social duties. So our education centre has taken an important role in spreading education. We help poor and lower middle-class students in different ways so that they can continue their studies. We live in a remote village which is far a way from town. So the students do not get any farther educational details. Our centre helps them with modern education system. We help them with study materials from primary to higher secondary. We also provide them coaching which is mainly free of cost for the poor and economically backward families. This coaching is organized by the good educated persons who are not employed any where. For this many children are coming to our education centre.</p>
  <p> To continue this education centre some financial help is also needed. If we get help from any agencies we shall be able to continue our education centre in future. We believe that our education centre will help to reduce illiteracy from our society.</p>
  </div>
  <div id="site_content_bottom"></div>
</div>

