<div id="site_content">
  <div id="panel_health"><img src="images/education_1.jpg" alt="bprds" /></div>
  <div id="content">
    <p>Education which is the crying need of our society has not been spread among all. The over all literacy rate is only 43% and the female literacy is just 22%. Not even 50% of the children are enrolled in formal school. All around 50% of those who complete standard four enroll for upper primary education and there are only few who go for higher secondary school. With Government’s endeavour to bring all the children under education, our small organization has taken an important role in spreading education. We have set up Pre-primary and primary school for distressed children, Besides, we are Conducting educational programmes among poor meritorious students and helping them by giving study materials. We have a special school for orphans and street children who are detouched from light of education. As West Bengal Govt. has taken a stern step to stop child labour, our organization has come forward to give proper education to these children who are below 16 years old. Our frequent programmes has made them interested and many children are coming to our schools and we are providing them study materials as best as we can. Beside Government’s Sarva Siksha Abhijan, our organization has been able to bring the dropout students under our school.</p>
  <p>We believe than our educational programmes will reduce illiteracy.</p>
  </div>
  <div id="site_content_bottom"></div>
</div>

