<div id="site_content">
  <div id="panel_health" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active"><img src="images/health_4.jpg" alt="bprds" /></div>
      <div class="item"><img src="images/health_3.jpg" alt="bprds" /></div>
      <div class="item"><img src="images/health_2.jpg" alt="bprds" /></div>
      <div class="item"><img src="images/health_1.jpg" alt="bprds" /></div>
    </div>
     <a class="carousel-control left" href="#panel_health" data-slide="prev">&lsaquo;</a>
     <a class="carousel-control right" href="#panel_health" data-slide="next">&rsaquo;</a>
  </div>
  <div id="content">
    <p>Our Society has taken a prominent role to fight against all the deadly diseases. The inhabitants of our locality have no other source of income without cultivation. The small income cannot able to give proper food, education and treatment to the children and family. So, some people have to go to different states to earn money and they bring with them deadly diseases like HIV / AIDS / TB etc. Under these circumstances, our organization can  not remain inactive closing their hands.</p>
  <p>We have primary health centers with eminent doctors and with medicines. Our doctors are treating the patients carefully. Not only that from our dispensary the medicine and treatment are supplied to Patients free of cost. The charitable dispensary is open 6 days in week. Our specialist doctors have taken full responsibility to treat the patients.  Even Eye treatment camp is held once in a month by the efforts of our organization. Besides treatment, we arrange Health awareness programmes once in a month to make aware patients and common people about various diseases.</p>
  <p>We also have arranged an yogic and massage centre. This helps the youngers to build their body healthy. The olders who are suffering from various diseases get relief here. Hearing this many other people are coming to our centre.</p>
  <p>This organization with the limited resources has been trying hard since inception to remove the impress from the social development works. The results are so far good with every good yield economic activities and generation of social awareness and consciousness among the people.</p>
  <p>We are stepping, for warding and holding with so many prospectus and projects for the welfare and social improvements of local, distressed, disabled, Aged and poor SC / ST / OBC people. We are running programmes on TB, HIV, and AIDS in the rural and conservative areas to make them aware of these deadly diseases and agree to come under the light of treatment. We are the organization itself bears the expenditure for the said programme. Also, many distinguished persons and medical representatives in our locality have donated the medicine for this programme. By this programme the rural backward SC / ST / OBC Minorities / Poor people in our locality are being benefited. The society during the year conduct distribution of medicine, proper helping and so many medical camps are held with the co-operation of local people.</p>
  </div>
  <div id="site_content_bottom"></div>
</div>

