<div id="site_content">
  <div id="panel"><img src="images/panel.jpg" alt="bprds" /></div>
  <div id="content">
  <!-- insert the page content here -->
    <p>BAHARPOTA PREMTIRTHA RURAL DEVELOPMENT SOCIETY in its mission for divine endeavor for the people has always followed the above proverb on acute footing. In it’s bottom up approach it has maintained than a vertical line of management, which can be reflected as underneath.</p>
  <p>Around 50% of those who complete standard four enroll for upper primary education and there are only few who go for higher secondary education. Early childhood education or pre-primary education of these people has been improved. Recent thrust on total literacy programmed in Purba Medinipur district has improved recently quite satisfactory. But in post literacy programmed (Which should have component of awareness and functional literacy) was not ensured properly. They will retain there past start of illiterates.</p>

  <h1>OUR MISSION</h1>
  <ul>
    <li>Enhanced Peoples participation in the development process.</li>
    <li>Intact peoples awareness through I.E. (In-formation Education and communication)</li>
    <li>Organize women around their issues of immance.</li>
    <li>Actyalize peoples movement for development.</li>
    <li>Take all appropriate need based programmes of the people, by the people and for the people.</li>
  </ul>

  <h1>OUR VISSION</h1>
  <ul>
    <li>Socio-economic Development.</li>
    <li>Promote small scale Industries.</li>
    <li>Communicating media between Government and Mass.</li>
    <li>Interacting with the various implementing agencies.</li>
    <li>Human Resource Development.<li>
    <li>Health, Education and Culture.</li>
  </ul>
  <h1>OUR AIMS</h1>
  <ul>
    <li>To activate the developmental activities among the people of this vicinity.</li>
    <li>To develop the surrounding areas both economically and psychologically.</li>
    <li>To entact formation of socialistic pattern of society.</li>
    <li>To participate information of network of NGO’s.</li>
    <li>To train & help the people.</li>
    <li>To eradicate illiteracy, untouchability etc.</li>
    <li>To grow conception of awareness, participation in activities among the people.</li>
  </ul>
  <h1>OUR TARGET</h1>
  <ul>
    <li>People below the proverty line.</li>
    <li>People of the downtrodden Sector.</li>
    <li>Women form the weaker sector.</li>
    <li>Destitute.</li>
    <li>Orphans.</li>
    <li>People of the Aged etc.</li>
  </ul>
  </div>
  <div id="site_content_bottom"></div>
</div>

