    <div id="site_content">
      <div id="panel"><img src="images/panel.jpg" alt="tree tops" /></div>
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h1>Latest News</h1>
        <h2>New Website Launched</h2>
        <h3>March 1st, 2012</h3>
        <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /></p>
        <!-- <h1>Useful Links</h1>
        <ul>
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">link 4</a></li>
        </ul>
        <h1>Useful Info</h1>
        <p>You can put anything you like in the sidebar. Latest news, useful links, images, contact information. Anything you think the visitor will find useful.</p> -->
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Welcome to the Baharpota premtirtha rural devlopment society </h1>
      </div>
    <div id="site_content_bottom"></div>
    </div>

